/* General Styles */
html {
    border-left: 5px solid  rgb(199, 193, 193);
    /* margin-left: 10rem; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    padding: 1rem 2rem;
}


h1 {
    color: tomato;
}

/* Navigation and Links */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: lightgray;
    font-size: 1.2rem;
}

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

article p::first-letter {
    font-size: 2em; /* Larger first letter */
    color: lightgray;
}

article a {
    display: block;
    text-align: right;
    font-weight: bold;
    color: tomato;
    text-decoration: none;
    
}
article img {
    width: 100%;
}

footer nav a {
    color: tomato;  /* Differen color for footer navigation  */
}

/* Blog Posts */
article h3 {
    font-size: 1.5em;  /* Larger titles for blog posts */
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.8rem;
}

footer nav {
    justify-content: center;  /* Center footer navigation differently */
}